<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link active" href="/">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/search">Tìm kiếm</a>
    </li>
    <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Hiệp Nguyễn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/server/create">Thêm Server</a>
            <a class="dropdown-item" href="/me/stored/server">Server của tôi</a>
            <a class="dropdown-item" href="/logout">Đăng xuất</a>

        </div>
    </li>
</ul>